<?xml version="1.0"?>
<configuration>
  <system.web>

    <authorization>
      <allow roles="Artists" />
      <deny roles="Customers" />
      <deny users="?"/>
    </authorization>
    <httpRuntime  executionTimeout="90" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192" targetFramework="4.6.1"  maxRequestLength="1048576"/>

  </system.web>
</configuration>
